
.login-page
	height: 100vh
	display: flex
	// background: url('imgs/backgrounds/background-binary-code') no-repeat center center fixed
	// background-position: center
	// background-size: cover

.login-form_container
	width: 50%
	margin: auto
	display: flex
	padding: 25px
	border: 2px solid #222
	flex-direction: column

.login-logo_cont
	height: 100px
	width: 160px
	margin: 0px auto 20px auto
	// background: linear-gradient(to right, #333, #000, #444)

.login-form_cont
	width: 100%
	margin: 0px auto

.login-info_cont
	margin-bottom: 20px

.login-input_cont
	display: flex
	margin: 0px auto 10px auto

.login-input_cont label
	flex: 1

.login-input_cont input
	flex: 3
	padding: 10px

.login-buttons_cont 
	color: #fff
	display: flex

.login-buttons_cont div
	margin: auto
	display: flex

.login-buttons_cont input
	background: black
	display: block
	padding: 10px 15px
	margin-right: 10px

.login-buttons_cont a
	color: #fff
	background: black
	padding: 10px 15px


