
#maintenance-page
	display: flex

.maintenance-page
	margin: auto

.maintenance-page > *
	text-align: center

.maintenance-page h1
	color: red
	margin-bottom: 20px

.maintenance-page img
	display: block
	max-width: 300px
	max-height: 300px
	margin: 0px auto

@media screen and (min-width: 500px)
	.maintenance-page img
		max-width: 400px
		max-height: 400px

@media screen and (min-width: 1000px)
	.maintenance-page img
		max-width: 500px
		max-height: 350px

.maintenance-page p
	width: 70%
	margin: 0px auto
	margin-bottom: 20px

.maintenance-page a
	margin: 0px auto
	display: block

.maintenance-page a:not(:last-child)
	display: block
	margin-bottom: 20px
	