
#site-logo 
	width: 298.8px
	height: 200px
	display: block
	margin: 0px auto
	position: relative

#site-logo img
	width: 100%
	height: 100%
	top: 1000px
	position: absolute

#hp_main-intro h1
	margin: 0px auto 0px 0px
	font-family: 'Rammetto One', Times New Roman, serif

.hero-quote
	font-size: 1.0em
	text-align: center
	margin-bottom: 25px

#hp_intro-links a
	opacity: 0
	padding: 5px
	text-align: center
	display: inline-block
	font-family: Georgia, serif
	transition: all .3s ease-in

#hp_intro-links a:hover
	color: blue

.intro_more-info
	text-align: center

.intro_more-info 
	display: block
	cursor: pointer

.intro_more-info span
	display: block

@media screen and (max-width: 1000px)
	#hp_intro-links li a
		border: 1px solid #999

	#hp_intro-links li:first-child a
		background: #F4F4F5

	#hp_intro-links a:hover
		color: blue
		border: 1px solid blue

@media screen and (min-width: 360px)
	#hp_main-intro h1
		font-size: 32px

@media screen and (min-width: 415px)
	#hp_main-intro h1
		font-size: 2.7em



