
/* STRUCTURE */

#home-page
	height: 100%
	padding-top: 40px
	margin-left: auto
	margin-right: auto

#home-page_main
	width: 90%
	margin-left: auto
	margin-right: auto
	position: relative
	border-bottom: 2px solid #000

#home-page_main-section h1
	text-align: center

#hp_main-intro
	width: 100%
	margin-bottom: 20px
	
#home-page_additional
	display: flex
	height: 100px

#home-page_additional a
	margin: auto
	cursor: pointer

.main_cartoon
	width: 200px
	margin: 0px auto

.main_cartoon figure
	display: block

@media screen and (min-width: 415px)
	#site-logo
		margin: 0px auto 20px auto

@media screen and (min-width: 1000px)
	#home-page
		padding-top: 0px

